body {
    background-color: #f2f2f2;
}

.eh-landing {
    height: 35vh;
    background: url(../images/kauai.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 250px;
}

.eh-title {
    font-size: 5vw;
    color: #cacaca;
    text-shadow: 1px 1px 5px #000;
    padding-top: 9rem !important;
    position: absolute;
}

.eh-chunk {
    color: #8e8e8e;
}

.eh-october {
    color: orange;
}

.eh-july {
    color: rgb(62, 62, 236);
}

.eh-link {
    color: #8e8e8e;
}