
body {
    background-color: #f2f2f2;
}

.eh-landing {
    height: 100vh;
    background: url(../images/kauai.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.eh-title {
    font-size: 95px;
    color: #cacaca;
    text-shadow: 1px 1px 5px #000;
    padding-top: 9rem !important;
}

.eh-lower-title {
    font-size: 75px;
    color: #cacaca;
    text-shadow: 1px 1px 5px #000;
}

.eh-section {
    min-height: 100vh;
    border-bottom: #c1c1c1;
}

.eh-image {
    max-width: 500px;
    border-radius: 8px;
}

.eh-courtesy {
    color: #c1c1c1;
}

.eh-text {
    color: #8e8e8e;
    font-size: 72px;
}

.eh-sponsor {
    color: #c1c1c1;
    font-size: 22px;
}

.eh-link {
    color: #c1c1c1;
}

.eh-flier {
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid #c1c1c1 3px;
    border-bottom: none;
    border-radius: 5px;
}

.eh-image-2 {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width:767px) {
    .eh-flier {
        border: none;
    }
}

@media screen and (max-width: 625px) {
    .eh-title {
        font-size: 75px;
    }
    .eh-lower-title {
        font-size: 60px;
    }
    .eh-section {
        padding-bottom: 35px;
    }
}

@media screen and (max-height: 500px) {
    .eh-title {
        font-size: 60px;
    }
    .eh-lower-title {
        font-size: 45px;
    }
    
}

@media screen and (max-width: 399px) {
    .eh-image {
        width: 200px;
        height: 275px;
    }

    .eh-text {
        font-size: 50px;
    }
}
