
body {
    background-color: #f2f2f2;
}

.eh-landing {
    height: 100vh;
    background: url(../images/kauai.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.eh-title {
    font-size: 95px;
    color: #cacaca;
    text-shadow: 1px 1px 5px #000;
    padding-top: 9rem !important;
}

.eh-lower-title {
    font-size: 75px;
    color: #cacaca;
    text-shadow: 1px 1px 5px #000;
}

.eh-section {
    height: 100vh;
}

.eh-image {
    border-radius: 8px;
}

.eh-courtesy {
    color: #c1c1c1;
}

.eh-text {
    color: #8e8e8e;
    font-size: 72px;
}

.eh-sponsor {
    color: #c1c1c1;
    font-size: 22px;
}

.eh-link {
    color: #c1c1c1;
}
